{% extends "layout.html" %}


{% block content %}
<div class="container">
    <div class="row">
<div class="card col-sm-4">
    {% for article in article %}
     {% if article.image %}
    <img src="{{article.image}}" height="300" width="500" alt="{{article.title | truncate(10)}}">
            {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.description}}</p>
      <p class="card-text"><small class="text-muted"><strong>Published on:</strong> {{article.postDate}}</small></p>
      <a href="{{article.url}}" class="btn btn-success">Visit site</a>
    </div>
    {% endfor %}
  </div>
  </div>
  </div>

{% endblock %}
